.comment_paragraph {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.25rem;
  color: #8e8e8e;
  margin-left: 0.5em;
}

@media (min-width: 600px) {
  .comments_container {
    margin-bottom: 0.15em;
    padding: 0;
  }
  .comments::-webkit-scrollbar {
    background: #dbdbdb;
  }

  .comments::-webkit-scrollbar-thumb {
    background: #fb1;
    border-radius: 10px;
  }
}
