.image_container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  gap: 0.5%;
}

.image_container img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.hover_image_container {
  position: relative;
  transition: 0.2s;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: 0.2s;
  opacity: 0;
  cursor: pointer;
}

.icon {
  font-size: 3rem;
  color: white;
}

.hover_image_container:hover img {
  opacity: 0.5;
}
.hover_image_container:hover .link {
  opacity: 1;
}
