@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* general settings */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 5em;
  font-size: 1rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* MOBILE : H1: 32PX, H2: 24PX* P:18PX/ */
/* large-screen : H1: 48px, H2: 32px* P:18PX/ */

/* Tipography */

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

.login-title {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
