.home_container {
  max-width: 50rem;
  margin: 6em auto;
  padding: 0 1em;
  min-height: 80vh;
}

.home_post_container {
  display: grid;
  max-width: 31.25rem;
  margin: 3rem auto;
  background: white;
  border-bottom: 1px solid #dbdbdb;
  box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.4);
  border-radius: 5px;
  grid-template-columns: minmax(300px, 500px);
  justify-content: center;
}
.home_post_body {
  padding: 0.5em;
}

.home_post_container img {
  max-width: 100%;
  max-height: 100%;
}

.post_options_icon {
  color: black;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.post_options_icon:hover {
  color: #fb1;
  transform: scale(1.1);
}

.home_post_body p {
  font-size: 15px;
  margin-top: 0.25em;
}

.home_post_container:last-child {
  border: none;
}
